<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
  <!--=============== basic  ===============-->
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  {% block description %}
  <meta name="description" content="" />{% endblock %}
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <!-- js  -->

  <!--=============== scripts  ===============-->

  <!--=============== css  ===============-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <link type="text/css" rel="stylesheet" href="{% static 'css/_notes/custom.css' %}">
  <!--=============== favicons ===============-->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  




  <script>

    // likes
    $(document).ready(function () {


      $(".box-item img").on("click", function () {
        alert();
  var link = $(this).siblings("a");
  link.addClass("popup-image");
  link.click();
});

      $('.link_group').change(function () {
        console.log('clicked on radio', $(this).attr('id'));
        if ($(this).attr('id') == 'radio-dd5') {
          console.log('in the checked');
          $('#custom_link').removeAttr("hidden");
        }
        else {
          console.log('not checked');
          $('#custom_link').attr("hidden", '');
        }


      })


      $('.like-button').click(function (event) {
        event.preventDefault();
        var eventId = $(this).data('event-id');
        var likeCount = $(this).find('.like-count');
        var heartIcon = $('#slider-heart')
        console.log("heart icon is ", heartIcon)
        var updatedCount
        if (heartIcon.hasClass('far')) {
          console.log('requeting to increase',parseInt(likeCount.text()));
          updatedCount = parseInt(likeCount.text()) + 1;
          heartIcon.removeClass('far');
          heartIcon.addClass('fa');
          like_type="like"
        }
        else if(parseInt(likeCount.text()) > 1) {
          console.log('requeting to decrease',parseInt(likeCount.text()));
          updatedCount = parseInt(likeCount.text()) - 1;
          heartIcon.removeClass('fa');
          heartIcon.addClass('far');
          like_type="unlike"

        }
        else{
          return
        }
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); // get the CSRF token from a hidden input field in the form
        $.ajax({
          type: 'POST',
          url: 'http://127.0.0.1:8000/like_event/' + eventId + '/'+like_type,
          headers: {
            'X-CSRFToken': csrfToken // include the CSRF token in the request headers
          },
          success: function (data) {

            likeCount.text(updatedCount);
            $('#like-counter').text(updatedCount);
            heartIcon.toggleClass('fa-heart fa-solid fa-heart fa-sharp');
          },
          error: function (xhr, textStatus, errorThrown) {
            console.error('Ajax request failed:', errorThrown);
          }
        });
      });
    });



    // likes ends
    console.log("element is", document.getElementById("res"))
    const registerButton = document.getElementById('radio-aaa5');
    const confirmAttendanceButton = document.getElementById('radio-bb5');
    const customButton = document.getElementById('radio-dd5');
    const customButtonText = document.getElementById('custom-button-text');
    const externalLinkInput = document.getElementsByName('external_link')[0];

           

  </script>
  <script>
  
    $(document).ready(function () {

    //   // popupop
    // $(".box-item img").on("click", function () {
    //     var link = $(this).siblings("a");
    //     link.addClass("popup-image");
    //     link[0].click();
    //   });
   
    


      $('#myonoffswitch5').change(function () {
        var isChecked = $(this).prop('checked');
        if (isChecked) {
          $('#location-status').text('Online');
        } else {
          $('#location-status').text('Offline');
        }
      });

   
    });




    function edit_department(number) {
      console.log("number is ", number)
      var ip = document.getElementById("department_text_" + number)
      console.log("ip is ", ip)
      ip.removeAttribute("readonly")
      var save_button = document.getElementById("department_save_" + number)
      save_button.removeAttribute("hidden")
      $("#department_save_" + number).toggle()
    }

    function edit_location(number) {
      console.log("number location  is ", number)
      var ip = document.getElementById("location_text_" + number)
      console.log("ip is ", ip)
      ip.removeAttribute("readonly")
      var save_button = document.getElementById("location_save_" + number)
      save_button.removeAttribute("hidden")
      $("#location_save_" + number).toggle()
    }

    function edit_platform(number) {
      console.log("number location  is ", number)
      var ip = document.getElementById("platform_text_" + number)
      console.log("ip is ", ip)
      ip.removeAttribute("readonly")
      var save_button = document.getElementById("platform_save_" + number)
      save_button.removeAttribute("hidden")
      $("#platform_save_" + number).toggle()
    }

    function edit_tag(number) {
      console.log("number is ", number)
      var ip = document.getElementById("tag_text_" + number)
      console.log("ip is ", ip)
      ip.removeAttribute("readonly")
      var save_button = document.getElementById("tag_save_" + number)
      save_button.removeAttribute("hidden")
      $("#tag_save_" + number).toggle()
    }

    // edit campus

    function edit_campus(number) {
      console.log("number is ", number)
      var ip = document.getElementById("campus_text_" + number)
      console.log("ip is ", ip)
      ip.removeAttribute("readonly")
      var save_button = document.getElementById("campus_save_" + number)
      save_button.removeAttribute("hidden")
      $("#campus_save_" + number).toggle()
    }


   
    // $(document).ready(function () {
    //     $(".slick-slide-item").on("click", function () {          
    //         var href = $(this).find(".popup-image").attr("href");
    //         $(this).closest(".lightgallery").lightGallery({
    //             dynamic: true,
    //             dynamicEl: [{ src: href }]
    //         });
    //     });
    // });
    // likes



  </script>

</head>

<body>
  <!--loader-->
  <div class="loader-wrap">
    <div class="loader-inner">
      <svg>
        <defs>
          <filter id="goo">
            <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur" />
            <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey" />
            <fecomposite in="SourceGraphic" in2="gooey" operator="atop" />
          </filter>
        </defs>
      </svg>
    </div>
  </div>
  <!--loader end-->
  <!-- main -->
  <div id="main">

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOU_API_KEY_HERE&libraries=places"></script>
  <script src="{% static 'js/map-add.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>



</body>

</html>