{% extends 'main.html' %}
{% block content%}
{% block title %}Create Speaker - PES University{% endblock title %}
{% load static %}
    <!-- wrapper  -->	
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                {% include 'sidebar.html' %} 
                <!-- dashbard-menu-wrap end  -->		
                <!-- content -->	
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                        <!-- dashboard-title -->	
                        <div class="dashboard-title fl-wrap">
                            <div class="dashboard-title-item"><span>Speaker</span></div>
                            <div class="dashbard-menu-header">
                                <div class="dashbard-menu-avatar fl-wrap">
                                    <img src="{% static 'images/admin.png' %}" alt="">
                                    <h4>Welcome,<span>{{ request.user |title}}</span></h4>
                                </div>
                                <a href="{% url 'logout' %}" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                            </div>
                            <!--Tariff Plan menu-->
                           
                            <!--Tariff Plan menu end-->						
                        </div>
                        <!-- dashboard-title end -->		
                        <div class="dasboard-wrapper fl-wrap no-pag">
                            <div class="dasboard-scrollnav-wrap scroll-to-fixed-fixed scroll-init2 fl-wrap">
                                <ul>
                                    <li><a href="#sec5" class="act-scrlink">Speaker Info</a></li>
                                    
                                    
                                </ul>
                                <div class="progress-indicator">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="-1 -1 34 34">
                                        <circle cx="16" cy="16" r="15.9155"
                                            class="progress-bar__background" />
                                        <circle cx="16" cy="16" r="15.9155"
                                            class="progress-bar__progress 
                                            js-progress-bar" />
                                    </svg>
                                </div>
                            </div>
                            {% if not speaker.id %}
                             <form  method="POST" action="" enctype="multipart/form-data" >
                                {%csrf_token %}
                                {{ EventsForms.media }}
                               
                            <!-- dasboard-widget-box  end-->	
                            <!--  Speaker-->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                                <h5><i class="fas fa-list"></i>Speaker Details</h5>
                            </div>
                            
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                       
                                        <div class="col-sm-6">		 
                                            <label>Speaker name  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                            <input type="text" name="spkr_name" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Speaker Email Address <span class="dec-icon"><i class="far fa-envelope" multiple></i></span>  </label>
                                            <input type="text" name="Speakermail" value=""/>
                                        </div>
                                        <div class="col-sm-6">		 
                                            <label>Speaker Contact  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                            <input type="text" name="spkr_contact" value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Speaker Designation <span class="dec-icon"><i class="far fa-envelope" multiple></i></span>  </label>
                                            <input type="text" name="designation" value=""/>
                                        </div>
                                       
                                    </div>  
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label>About</label>
                                            <div class="listsearch-input-item">
                                                <textarea cols="40" rows="3" style="height: 200px;margin-bottom: 10px"  spellcheck="true" name="spkr_about" ></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Speaker Image</label>
                                            <div class="listsearch-input-item fl-wrap">
                                                <div class="fuzone">
                                                    <div class="fu-text">
                                                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload" name="spkr_profile_pic"  multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    </div>
                                </div>
                            <!-- sdfgh -->
                            

                            <!-- speaker -->
                            <!-- dasboard-widget-title -->
                          <div></div>
                          <div></div>
                           
                          
                           
                            <input class="btn  color-bg float-btn" type="submit" value="Submit">
                            
                        </div>
                    </div>
                </form>

                {% else %}

                <form  method="POST" action="{% url 'editSpeaker' pk=speaker.id %}" enctype="multipart/form-data" >
                    {%csrf_token %}
                    {{ EventsForms.media }}
                   
                <!-- dasboard-widget-box  end-->	
                <!--  Speaker-->
                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                    <h5><i class="fas fa-list"></i>Speaker Details</h5>
                </div>
                
                <div class="dasboard-widget-box fl-wrap">
                    <div class="custom-form">
                        <div class="row">
                           
                            <div class="col-sm-6">		 
                                <label>Speaker name  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                <input type="text" name="spkr_name" value="{{speaker.name}}" required/>
                            </div>
                            <div class="col-sm-6">
                                <label>Speaker Email Address <span class="dec-icon"><i class="far fa-envelope" multiple></i></span>  </label>
                                <input type="text" name="Speakermail" value="{{speaker.speakermail}}"/>
                            </div>
                            <div class="col-sm-6">		 
                                <label>Speaker Contact  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                <input type="text" name="spkr_contact" value="{{speaker.contact}}"/>
                            </div>
                            <div class="col-sm-6">
                                <label>Speaker Designation <span class="dec-icon"><i class="far fa-envelope" multiple></i></span>  </label>
                                <input type="text" name="designation" value="{{speaker.designation}}"/>
                            </div>
                           
                        </div>  
                        <div class="row">
                            <div class="col-sm-9">
                                <label>About</label>
                                <div class="listsearch-input-item">
                                    <textarea cols="40" rows="3" style="height: 200px;margin-bottom: 10px"  spellcheck="true"  name="spkr_about" >{{speaker.about}}</textarea>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Speaker Image</label>
                                <div class="listsearch-input-item fl-wrap">
                                    <div class="fuzone">
                                        <div class="fu-text">
                                            <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                            <div class="photoUpload-files fl-wrap"></div>
                                        </div>
                                        <input type="file" class="upload" name="spkr_profile_pic"  value="speaker.profile_pic" multiple>
                                    </div>
                                </div>
                                
                                {% if speaker.profile_pic %}
                                <a href="{% url 'deletespeakerpic' speaker.id %}" onclick="confirmDelete(event)"><i class="fa fa-trash" style="color:rgb(241, 88, 17);padding-right: 8px;"></i></a>
                                <img src="{{ speaker.profile_pic.url }}" width="90" height="90" />
                               {% endif %}
                            </div>
                            <script>
                                function confirmDelete(event) {
                                    event.preventDefault(); 
                            
                                    if (confirm("Are you sure you want to delete the profile picture?")) {
                                        window.location.href = event.currentTarget.href;
                                    }
                                }
                            </script>
                        </div>                                     
                        </div>
                    </div>
            
              <div></div>
              <div></div>
               
              
               
                <input class="btn  color-bg float-btn" type="submit" value="Submit">
                
            </div>
        </div>
    </form>
    {% endif %}
                    <div class="limit-box fl-wrap"></div>
                    				
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>
{% endblock content%}     
  