{% extends 'main.html' %}
{% block content%}
{% block title %}Create Event - PES University{% endblock title %}
{% load static %}
<!-- wrapper  -->
<div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay"></div>
    {% include 'sidebar.html' %}
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
        <div class="container dasboard-container">
            <!-- dashboard-title -->

            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>Event Listing</span></div>
                <div class="dashbard-menu-header">
                    <div class="dashbard-menu-avatar fl-wrap">
                        <img src="{% static 'images/admin.png' %}" alt="">
                        <h4>Welcome, <span>{{ request.user | title }}</span></h4>
                    </div>
                    <a href="{% url 'logout' %}" class="log-out-btn   tolt" data-microtip-position="bottom"
                        data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                </div>
                <!--Tariff Plan menu-->

                <!--Tariff Plan menu end-->
            </div>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap ">
                <div class="dasboard-scrollnav-wrap scroll-to-fixed-fixed scroll-init2 fl-wrap">
                    <ul>
                        <li><a href="#sec1" class="act-scrlink">Event Info</a></li>
                        <li><a href="#sec5" class="act-scrlink">Date / Time</a></li>
                        <li><a href="#sec2">Location</a></li>
                        <li><a href="#sec4">Campus</a></li>
                        <li><a href="#sec6">Department / Tags</a></li>
                        <li><a href="#sec3">Images / Files</a></li>


                    </ul>
                    <div class="progress-indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__background" />
                            <circle cx="16" cy="16" r="15.9155" class="progress-bar__progress 
                                            js-progress-bar" />
                        </svg>
                    </div>
                </div>
                <form method="POST" class="create_event_form" onsubmit="process_submit()" action="" enctype="multipart/form-data">
                    {%csrf_token %}
                    {{ EventsForms.media }}
                    <!-- basic start -->
                       <!-- dasboard-widget-title -->
                       <div class="dasboard-widget-title fl-wrap" id="sec1">
                        <h5><i class="fas fa-info"></i>Event Information</h5>
                    </div>
                    <!-- dasboard-widget-title end -->
                    <div class="dasboard-widget-box   fl-wrap">
                        <div class="custom-form add_room-item-wrap">
                            <div class="add_room-container fl-wrap">
                                <!-- add_room-item   -->
                                <div class="add_room-item fl-wrap" >
                                    <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                    <div class="row">
                                        <div class="col-sm-12">
                                           <label>Event Title <span class="dec-icon"><i
                                                class="far fa-briefcase"></i></span></label>
                                    <input type="text" name="title" value="" required/>				
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Sub Title <span class="dec-icon"><i class="fal fa-layer-plus"></i></span></label>
                                        <input type="text" name="description" value="" />				
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7" >
                                            <label>About</label>
                                            <div class="listsearch-input-item" >
                                                {{ EventsForms.about }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Event Profile</label>
                                            <div class="listsearch-input-item fl-wrap" >
                                                <div class="fuzone">
                                                    <div class="fu-text">
                                                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files
                                                            to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload" name="featured_img" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <!--add_room-item end  -->
                            </div>
                            
                        </div>
                    </div>

                   
            </div>


            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec5">
                <h5><i class="fas fa-calendar-check"></i>Date / Time</h5>
            </div>
            <!-- dasboard-widget-title end -->
            <!-- dasboard-widget-box  -->
            <div class="dasboard-widget-box   fl-wrap">
                <div class="custom-form">
                    <label class="col-md-2 text-left col-form-label"></label>

                    <label>From</label>
                    <div class="row align-items-center">
                      <div class="col-sm-6">
                        <input type="date" class="form-control" name="start_date" required>
                      </div>
                      <div class="col-sm-6">
                        <input type="time" class="form-control" name="start_time">
                      </div>
                    </div>
                    <label>To</label>
                    <div class="row align-items-center">
                      <div class="col-sm-6">
                        <input type="date" class="form-control" name="end_date">
                      </div>
                      <div class="col-sm-6">
                        <input type="time" class="form-control" name="end_time">
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                 
                </div>
            </div>  


 <!-- dasboard-widget-box  end-->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec2">
                                <h5><i class="fas fa-map-marker-alt"></i>Location</h5>

                                
                                    <span style="display: none;"class="content-widget-switcher-title" id="online_result">Offline</span>
                                    <input type="text" value="Offline" id="is_online_event" name="is_online_event" hidden>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchmc923">
                                        <label class="onoffswitch-label" for="myonoffswitchmc923">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                    <div id="result"></div>
                            </div>
                            <!-- dasboard-widget-title end -->
                            
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="col-md-4" id="offline_options">
                                            <label id="location_select_label">Choose a Location</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="All Types" class="chosen-select no-search-select" name="default_venue" id="offline_select">
                                                    <option disabled selected value> -- select an option -- </option>
                                                    <!-- <option>Others</option> -->
                                                    {% for locations in location %}
                                                    <option>{{locations.name}} </option>
                                                    {% endfor %}
                                                    <option>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="online_options" hidden>
                                            <label id="location_select_label">Platform</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="All Types" class="chosen-select no-search-select" name="default_venue" id="online_select" style="display: none;">
                                                    <option id="selected" disabled selected value> -- select an option -- </option>
                                                    {% for platforms in platform %}
                                                        <option>{{platforms.name}}</option>
                                                    {% endfor %}
                                                    <option>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <label id="location_value_label">Full Address <span class="dec-icon"><i class="far fa-map-marker-alt"></i></span></label>
                                            <input type="text" name="venue_name" id="venue_name" value="" />
                                        </div>
                                        
                                        <div id="final_address1"></div> 
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                
                            </div>


<!-- add contacts -->

 <!-- dasboard-widget-box  -->
 <div class="dasboard-widget-title dwb-mar fl-wrap add_room-container" id="sec5" >
    <h5><i class="fas fa-address-book"></i>Contacts</h5>
   
</div>
 <div class="dasboard-widget-box   fl-wrap">
    <div class="custom-form add_room-item-wrap">
        <div class="add_room-container fl-wrap contact_room_container" id="room-container">
            <!-- add_room-item   -->
            <div class="add_room-item fl-wrap" count="1">
                <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove Room"><i class="fal fa-times-circle"></i></span>
                
                <div class="row">
                    <div class="col-sm-4">
                        <label>Name <span class="dec-icon"><i class="far fa-user" multiple></i></span> </label>
                        <input type="text" name="contact_name[]" value="" />
                    </div>
                    <div class="col-sm-4">
                       
                        <label>Phone <span class="dec-icon"><i class="far fa-phone" multiple></i></span> </label>
                        <input type="text" name="contact[]" value="" />
                    </div>
                    <div class="col-sm-4">
                       
                        <label>Email <span class="dec-icon"><i class="far fa-envelope" multiple></i></span> </label>
                        <input type="text" name="contact_email[]" value="" />
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                
                
            </div>

           
            <!--add_room-item end  -->
        </div>
        <a href="#" type="button" class="add-room-item button">Add New <i class="fal fa-plus"></i> </a>
    </div>
</div>



<!-- contacts -->

                            



                             <!-- dasboard-widget-title -->
                             <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec5">
                                <h5><i class="fas fa-link"></i>Register</h5>
                               
                            </div>
                            <!-- dasboard-widget-title end -->													
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form add_room-item-wrap">
                                    <div class="add_room-container fl-wrap">
                                        <!-- add_room-item   -->
                                        <div class="add_room-item fl-wrap" >
                                            <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove Room"><i class="fal fa-times-circle"></i></span>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                <label>Button Title</label>
                                                <div class=" add-list-tags fl-wrap">
                                                    <!-- Checkboxes -->
                                                    <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                        
                                                        <li>
                                                            <input class="link_group" id="radio-aaa5" type="radio" name="button_name[]" value="Register" checked>
                                                            <label for="radio-aaa5"> Register</label>
                                                        </li>
                                                        <li>
                                                            <input class="link_group" id="radio-bb5" type="radio" name="button_name[]"
                                                                value="Confirm Attendance">
                                                            <label for="radio-bb5">Confirm Attendance</label>
                                                        </li>
                                                        <li>
                                                            <input class="link_group" id="radio-dd5" type="radio" name="button_name[]" value="Custom Text">
                                                            <label for="radio-dd5"> Custom Text</label>
                                                        </li>
                                                    </ul>
                                                    <!-- Checkboxes end -->												
                                                </div>
                                            </div>
                                                <div class="col-sm-7">
                                                    <label>External Link<span class="dec-icon"><i class="fal fa-link"></i></span></label>
                                                    <input type="text" name="external_link" value="" />				
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-6" id="custom_link" hidden>
                                                    <label>Custom Buttton Title<span class="dec-icon"><i class="fa fa-pencil"></i></span></label>
                                                    <input type="text" name="custom_text" value="" />			
                                                </div>
                                                
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                        <!--add_room-item end  -->
                                    </div>
                                    
                                </div>
                            </div>
             <!-- dasboard-widget-title -->
             <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec1">
                <h5><i class="fas fa-hashtag"></i>Social Media / Website</h5>
            </div>
            <!-- dasboard-widget-title end -->
            <!-- dasboard-widget-box  -->
            <div class="dasboard-widget-box fl-wrap">
                <div class="custom-form">
                    <div class="row">
                        <div class="col-sm-6">		 
                             <label>Facebook<span class="dec-icon"><i class="fab fa-facebook-f"></i></span> </label>
                            <input type="text" name="facebook" value="" />
                        </div>
                        <div class="col-sm-6">
                            
                              <label>YouTube<span class="dec-icon"><i class="fab fa-youtube"></i></span> </label>
                            <input type="text" name="youtube" value="" />
                        </div>
                        <div class="col-sm-6">		 
                            <label>Instagram<span class="dec-icon"><i class="fab fa-instagram"></i></span> </label>
                            <input type="text" name="instagram" value="" />
                        </div>
                        <div class="col-sm-6">
                           <label>Twitter<span class="dec-icon"><i class="fab fa-twitter"></i></span> </label>
                            <input type="text" name="twitter" value="" />
                            
                        </div>
                        <div class="col-sm-12">
                            <label> Website <span class="dec-icon"><i class="far fa-globe"></i> </span> </label>
                            <input type="text" name="website" value="" />
                        </div>
                      
                    </div>
                </div>
            </div>





            <!-- dasboard-widget-title -->
            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                <h5><i class="fa fa-university"></i>Campus</h5>
            </div>
            <!-- dasboard-widget-title end -->
            <!-- dasboard-widget-box  -->

            
            <div class="dasboard-widget-box   fl-wrap">
                <div class="custom-form">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                        <div class=" add-list-tags fl-wrap">
                           
                            <!-- Checkboxes -->

                            <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                {% for campus in campuspes %}
                                
                                <li>
                                    <input id="check-aaa5" type="checkbox" name="campus[]" value="{{campus}} ">
                                    <label for="check-aaa5"> {{campus}} </label>
                                </li>
                                
                                {% endfor %}

                            </ul>
                           
                            <!-- Checkboxes end -->
                        </div>
                    </div>
                        
                 
                   
                    </div>

                </div>
            </div>



<div class="dasboard-wrapper fl-wrap no-pag">
    <div class="row">
        <div class="col-md-6">
            
            
            <div class="dasboard-widget-title fl-wrap" id="sec6">
                <h5><i class="fas fa-sitemap"></i>Department</h5>
            </div>
            <div class="dasboard-widget-box fl-wrap">
                <div class="custom-form">
                    <ul class="fl-wrap filter-tags no-list-style ds-tg">
                        {% for department in departments %}
                        <div class="col-sm-6 departmentspace"> 
                            <li>
                                <input id="check-aaa5" type="checkbox" name="department[]" value="{{department}} ">
                                <label for="check-aaa5"> {{department}} </label>
                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dasboard-widget-title dbt-mm fl-wrap">
                <h5><i class="fas fa-tag"></i>Tags</h5>
            </div>
            <div class="dasboard-widget-box fl-wrap">
                <div class="custom-form">
                    <ul class="fl-wrap filter-tags no-list-style ds-tg">
                        {% for tag in tags %}
                        <div class="col-sm-4 departmentspace"> <!-- Add a wrapping div with column class -->
                            <li>
                                <input id="check-aaa5" type="checkbox" name="tag[]" value="{{tag}} ">
                                    <label for="check-aaa5"> {{tag}} </label>
                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
           
            
        </div>
    </div>
</div>
<!-- content end -->


<!-- ---------------- -->
<div class="dasboard-wrapper fl-wrap no-pag">
    <div class="row">
        <div class="col-md-6">
            
            
            <div class="dasboard-widget-title  fl-wrap" id="sec3">
                <h5><i class="fas fa-image"></i>Gallery Image</h5>
            </div>
            <div class="content-widget-switcher fl-wrap">


                <div class="fuzone">
                    <div class="fu-text">
                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to
                            upload</span>
                        <div class="photoUpload-files fl-wrap"></div>
                    </div>
                    <input type="file" class="upload" name="event_images" multiple="multiple">


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dasboard-widget-title  fl-wrap" id="sec3">

                <h5><i class="fas fa-file-plus"></i>Brochure</h5>
            </div>
            <div class="content-widget-switcher fl-wrap">

                <div class="fuzone">
                    <div class="fu-text">
                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to
                            upload</span>
                        <div class="photoUpload-files fl-wrap"></div>
                    </div>
                    <input type="file" class="upload" name="event_broucher" multiple>
                </div>
            </div>
           
            
        </div>
    </div>
</div>
<input type="submit" class="btn    color-bg  float-btn" value="Submit"   style="border:none;">

        </div>
    </div>
    </form>
    <div class="limit-box fl-wrap"></div>

</div>
<!-- content end -->
<div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->
</div>


<script>
    document.getElementById("myonoffswitchmc923").addEventListener("change", function() {
            var isChecked = this.checked;
            
            var online_options= document.getElementById('online_options');
            var offline_options= document.getElementById('offline_options');


            online_result =document.getElementById("online_result");
            online_input =document.getElementById("is_online_event");       
            online_label = document.getElementById("location_value_label")
            final_address =document.getElementById("final_address1").innerHTML="";

            if (isChecked) {
                online_input.setAttribute("value","Online")
                location_value_label.innerHTML ="URL"
                online_options.removeAttribute("hidden")
                offline_options.setAttribute("hidden","")

                
                
            } else {
                online_input.setAttribute("value","Offline")
                location_value_label.innerHTML ="Full Address"
                online_options.setAttribute("hidden","")
                offline_options.removeAttribute("hidden")
                
            }

            console.log("online input is",online_input.value,online_input)
        });

        document.getElementById("venue_name").addEventListener("input",function () {
            
            final_address =document.getElementById("final_address1");
            online_result =document.getElementById("is_online_event").value;
            console.log({online_result,offline_select})
            if(online_result =="Offline"){
                offline_select =document.getElementById("offline_select").value;
                if (offline_select=="Others"){
                    final_address.innerHTML =this.value;
                }else{
                    final_address.innerHTML =this.value+" "+offline_select;
                
                }
              
            }
            if(online_result =="Online"){
                online_select =document.getElementById("online_select").value;
                if (online_select=="Others") {
                    final_address.innerHTML ="Online"
                }
                else{
                    final_address.innerHTML ="Online - Watch on " + online_select;
                }
            }
            

            
        })
        document.getElementById("offline_select").addEventListener("change",function () {
        final_address =document.getElementById("final_address1").innerHTML="";
                    
        })

        document.getElementById("online_select").addEventListener("change",function () {
        final_address =document.getElementById("final_address1").innerHTML="";
                    
        })
//         
//thiis is not me
// Counter to keep track of the number of input field sets
var count = 0;

// Add an event listener to the "Remove" button to remove the corresponding input field set

// Add an event listener to the "Show Popup Form" button to toggle the visibility of the form
$(".show-popup-form").on('click', function (ex) {
    ex.preventDefault();
    $(".popup-form").toggleClass("vis-pf");
});

// Loop through all the input field sets and print them individually


</script>
{% endblock content%}