{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}
{% block title %}{% if event.description %}{{ event.title |title }} - {{ event.description }}{% else %}{{ event.title |title}} - {{ event.about | striptags | replace_nbsp | truncatewords:13 }}{% endif %}{% if not event.description or event.about  %}  PES University {% endif %}{% endblock title %}


 {% block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
 
 <div id="wrapper">
    <!-- content -->	
    <div class="content">
        {% csrf_token %}

        <section class="hidden-section   single-hero-section" data-scrollax-parent="true" id="sec1">
            <div class="bg-wrap bg-parallax-wrap-gradien bganimation">
                <div class="bganimation par-elem"  data-scrollax="properties: { translateY: '30%' }"></div>
            </div>
            <div class="container">
                  
                 
            <div class="row">
                <div class="col-md-12">
                   
                    <div class="listing-item-container one-column-grid-wrap  box-list_ic agency-list fl-wrap">
                        <!--  agecy card item -->
                        <div class="listing-item pesborderbottom">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img fl-wrap">
                                    {% if event.featured_img %}
                                    
                                    <img src="{% static  'images/Uploads/' %}{{ event.featured_img }}" alt="">  
                                    {% else %}
                                    <img src="{% static 'images/deafaultimage/default-image.jpg' %}"/>
                                    <div class=" title-overlay"><h1>{{event.title | title}}</h1></div>
                                    {% endif %}
                                </div>
                                <div class="geodir-category-content geodir-category-content1 fl-wrap  ">
                                    <div class="card-verified  eventbandspace" >
                                        <div class="like-button" data-event-id="{{ event.id }}">
                                            <i class="far fa-heart" id="slider-heart" style="font-size: 20px;"></i>
                                            <span style="display: none;" class="like-count">{{ event.num_likes }}</span>
                                        </div>
                                    </div>
                                      {% now "Y-m-d" as todays_date %}
                            <div class="list-single-opt_header fl-wrap eventbandspace" style="z-index: 1;">
                                <ul class="list-single-opt_header_cat">
                                  {% if todays_date < event.event_start_date|date:"Y-m-d" %}
                                  <li> <a href="#" class="cat-opt" style="background-color: red;">UPCOMING</a></li>
                                  {% elif  todays_date == event.event_start_date|date:"Y-m-d" %}
                                  <li><a href="#" class="cat-opt" style="background-color: #33c1b7;">ONGOING</a></li>
                                  {% else %}
                                  <li><a href="#" class="cat-opt color-bg" style="background-color: rgb(244, 127, 21) !important;">PREVIOUS</a></li>
                                  {% endif %}
                                </ul>
                              </div>
                              <div class="list-single-header-item no-bg-list_sh fl-wrap">
                                <div class="row">
                                    <div class="col-md-12 agent_card-title whitecolor">
                                    {% if event.title %}
                                    <h4 class="marginpes"> 
                                        {% for word in event.title|split:" " %}
                                            {{ word }}
                                            {% if forloop.counter|divisibleby:6 and not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </h4>
                                        {% endif %}
                                        {% if event.description and event.description != "None" %}
                                        <div class="geodir-category-location  fl-wrap">
                                          <a href="#" class="anchormargin parent-element">
                                            <i class="fal fa-comment-alt-lines whitecolor verticalband " ></i> 
                                            {% for word in event.description|split:" " %}
                                            {{  word }}
                                            {% if forloop.counter|divisibleby:5 and not forloop.last %}{% endif %}
                                            {% endfor %}
                                          </a> 
                                        </div>
                                        {% endif %}

                                        <div class="geodir-category-location fl-wrap ">
                                            <a href="#" class="anchormargin ">
                                                <i class="fal fa-calendar-check whitecolor verticalband "></i>
                                                {% if event.event_start_date %}
                                                {{ event.event_start_date }}
                                                {% endif %}
                                            
                                                {% if event.event_end_date %}
                                                - {{ event.event_end_date }}
                                                {% endif %}
                                                
                                                {% if event.event_start_time  %}
                                                <a class="anchormargin">
                                                    {% if event.event_start_time != "NULL" %}
                                                    <i class="fal fa-clock whitecolor verticalband pesiconadjust"></i>
                                                    {{ event.event_start_time|time:"h:i A" }}
                                                    {% if event.event_end_time %} - {{event.event_end_time|time:"h:i A"}}
                                                    {% endif %} </a>
                                                {% endif %}
                                                {% endif %}
                                            </a>
                                      
                                          {% if event.address and event.address.strip and event.is_online_event == "Yes" %}
                                          <div class="geodir-category-location fl-wrap ">
                                            <a  class="anchormargin">
                                            <i class="fal fa-map-marker-alt whitecolor verticalband " ></i>
                                              <span>Online  </span>
                                              {% with my_list=event.address|split:"," %}
                                              {% if not my_list.1 == "Others"  %}
                                              <span> &nbsp;Watch on {{ my_list.1 }} </span>
                                              {% endif %}
                                              <a href="{{ my_list.0 }}" target="blank"><i class="fas fa-external-link-alt verticalband whitecolor"></i></a>
                                              {% endwith %}
                                            </a> 
                                          </div>
                                          {% elif event.address and event.address.strip %}
                                          <div class="geodir-category-location fl-wrap">
                                            <a  class="anchormargin"><i class="fal fa-map-marker-alt whitecolor verticalband "  ></i>{{event.address}}</a> 
                                          </div>
                                          {% endif %}
                                        </div>
                                      </div>
                                </div>
                                </div>
                                </div>  
                            </article>
                        </div>
                        <div class="geodir-category-footer  footerspaceremoved fl-wrap">
                            
                            <div class="breadcrumbs fw-breadcrumbs smpar fl-wrap fw-breadcrumbs-1">
                                <div class="container container-band " >
                                    <span class="breadcrumbs-list  pesutagsremoved breadcrumbs-list-3 ">
                                        
                                       {% if event.tags %}
                                       {% with event.tags|split:"," as tags %}
                                           <span><i class="fal fa-tag custom-icon-class  float-btn"></i>
                                        </span>
                                           {% for tag in tags %}
                                               <a href="#">#{{tag}}{% if not forloop.last %} {% endif %}</a>
                                           {% endfor %}  
                                       {% endwith %}                                   
                                   {% endif %}
                                    </span>
                                   </div>
                                    <div class="like-btn like-btn-2">
                                        <div class="like-button viewed-counter " data-event-id="{{ event.id }}">
                                            <i class="far fa-heart   likeviewsize custom-icon-class" ></i>Liked - <span id="like-counter" class="like-count">{{ event.num_likes }}</span>
                                        </div>
                                    </div>
                                    <div class="like-btn like-btn-2 "><span class="viewed-counter"><i class="far fa-eye  likeviewsize custom-icon-class"></i> Viewed - {{event.view_count}}</span></div>
                                </div>
                            </div> 
                        </div>				
                    </div>							
            </div>
            
        </section>
        
        <div class="breadcrumbs fw-breadcrumbs smpar fl-wrap ">
            <div class="container">
                <div class="breadcrumbs-list">
                    
                    {%  if event.campus %}
                    {% with event.campus|split:"," as tags %}
                    {% for tag in tags %}
                    <a href="#">{{tag}}</a>
                    {% endfor %}  
                    {% endwith %}                                   
                   {% endif %}
                    
                      
                   {% if event.department %}
                   {% with event.department|split:"," as tags %}
                   <span class="departmentof">Department of </span>
                       <a href="#">{{ tags.0 }}</a>
                       {% for tag in tags|slice:"1:" %}
                           <a href="#">{{ tag }}</a>
                       {% endfor %}
                   {% endwith %}
                    {% endif %}
               </div>
               
                {% if request.user.is_authenticated %}
                <div class="show-more-snopt smact"><i class="fal fa-ellipsis-v"></i></div>
                <div class="show-more-snopt-tooltip">
                    <a href="{% url 'edit-event' event.id %}" class="custom-scroll-link"> <i class="far fa-edit"></i>Edit</a>
                    <a href="{% url 'archive-event' event.id %}" class="custom-scroll-link"> <i class="far fa-archive"></i>Archive</a>
                    <a href="{% url 'delete' event.id %}" class="" data-microtip-position="top-left"  onclick="return confirm('Are you sure you want to delete this?')"><i class="far fa-trash-alt"></i>Delete</a>
                </div>
                {% endif %}
                <a class="print-btn tolt " href="javascript:window.print()" data-microtip-position="bottom"  data-tooltip="Print"><i class="fas fa-print"></i></a>
                
                {% if event.external_link %}
                <div class="like-btn" style="background-color: rgb(66, 81, 152) !important;"><a href="{{event.external_link}}" target="_blank" style="color:white !important;">{{event.button_name}}</a> </div>
                {% endif %}
            </div>
        </div>
        
        <div class="gray-bg small-padding fl-wrap">
            <div class="container">
                <div class="row">
                    <!--  listing-single content -->
                    <div class="col-md-8" >
                        <div class="list-single-main-wrapper fl-wrap pesborderbottom">
                            <!--  scroll-nav-wrap -->
                            <div class="scroll-nav-wrap">
                                <nav class="scroll-nav scroll-init fixed-column_menu-init">
                                    <ul class="no-list-style">
                                        <li><a class="act-scrlink" href="#sec1"><i class="fal fa-home-lg-alt"></i></a><span>Home</span></li>
                                        {% if event.about %}
                                        <li><a href="#sec3"><i class="fal fa-info"></i> </a><span>About</span></li>
                                        {% endif %}
                                        {% if pictures %}
                                        <li><a  href="#sec2"><i class="fal fa-image"></i></a><span>Gallery</span></li>
                                        {% endif %}
                                        <li><a href="#sec4"><i class="fas fa-history" style="font-weight: 100;"></i></a><span>Recent Events</span></li> 
                                        
                                    </ul>
                                    <div class="progress-indicator">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="-1 -1 34 34">
                                            <circle cx="16" cy="16" r="15.9155"
                                                class="progress-bar__background" />
                                            <circle cx="16" cy="16" r="15.9155"
                                                class="progress-bar__progress 
                                                js-progress-bar" />
                                        </svg>
                                    </div> 
                                </nav>
                            </div>
                        
                            {% if event.about %}
                            <div class="list-single-main-container fl-wrap" id="sec3">
                                <!-- list-single-main-item -->
                                <div class="list-single-main-item fl-wrap">
                                    <div class="list-single-main-item-title">
                                    
                                        <h3>{{event.title}}</h3>
                                        
                                    </div>
                                    <div class="list-single-main-item_content fl-wrap">
                                        <p>{{event.about | safe }}</p>
                                
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if pictures %}
                            <div class="box-widget fl-wrap "id="sec2">                                
                                <div class="box-widget bwt-first fl-wrap" style="margin-top:30px;">
                                    <div class="box-widget-title fl-wrap"><i class="far fa-images" style="margin-right:10px !important;color:#3270fc;"></i> Event Images</div>
                                <article class="post-article fl-wrap">
                                    <div class="list-single-main-media fl-wrap">
                                        <div class="single-slider-wrapper carousel-wrap fl-wrap">
                                            <div class="single-slider fl-wrap carousel lightgallery"  >
                                                <!-- slick-slide-item  -->
                                                {% for pic in pictures %}
                                                <div class="slick-slide-item">
                                                    <div class="box-item">                                                        
                                                        <a href="/images/Uploads/{{pic.event_images}}" class="gal-link popup-image"></a>
                                                        <img src="/images/Uploads/{{pic.event_images}}" alt="">
                                                        
                                                    </div>
                                                    
                                                </div>
                                                {% endfor %}
                                              
                                            </div>
                                            {% if imagecount > 1 %}
                                            <div class="swiper-button-prev ssw-btn"><i class="fas fa-caret-left"></i></div>
                                            <div class="swiper-button-next ssw-btn"><i class="fas fa-caret-right"></i></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </article>
                                </div>
                            </div>
                            {% endif %}
                        </div>                     
                    </div>
                
                   
                   
                  
                    <div class="col-md-4">
                        {% if speaker %}
                        <div class="box-widget fl-wrap" id="sec2">
                            <div class="box-widget bwt-first fl-wrap" >
                              <div class="box-widget-title fl-wrap" style="margin-top:0px !important;">
                                <i class="far fa-images" style="margin-right:10px !important;color:#3270fc;"></i> Speaker
                              </div>
                              <article class="post-article fl-wrap">
                                <div class="list-single-main-media fl-wrap" >
                                  <div class="single-slider-wrapper-1 carousel-wrap fl-wrap" >
                                    <div class="single-slider fl-wrap carousel lightgallery" >
                                      {% for speakers in speaker %}
                                      {% if speakers.event_id == event.id %}
                                      <div class="slick-slide-item" >
                                        <div class="box-item-1 " >
                                         
                                          <div class="box-widget fl-wrap " >
                                            <div class="profile-widget" >
                                                <div class="profile-widget-header color-bg smpar fl-wrap" >
                                                   
                                                    <div class="box-widget-menu-btn smact" ><i class="far fa-ellipsis-h"></i></div>
                                                                <div class="show-more-snopt-tooltip bxwt">
                                                                    <a href="{% url 'editSpeaker' speakers.id %}"><i class="far fa-edit"></i>Edit</a>
                                                                    <a href="{% url 'deleteSpeaker' speakers.id %}"> <i class="far fa-trash-alt"></i>Delete</a>
                                                                </div>
                                                  
                                                    <div class="profile-widget-card">
                                                        <div class="profile-widget-image">
                                                            {% if speakers.profile_pic %}
                                                            <img src="{{speakers.profile_pic.url}}" alt="">
                                                            {% else %}
                                                            <img src="{% static 'images/Uploads/default.jpg '%}" />
                                                            {% endif %}
                                                        </div>
                                                        <div class="profile-widget-header-title">
                                                            <h4><a href="agent-single.html">{{speakers.name|title}}</a></h4>
                                                            <div class="clearfix"></div>
                                                            <div class="pwh_counter">{{speakers.designation}}</div>
                                                            <div class="clearfix"></div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile-widget-content fl-wrap " style="background:#ebebeb">
                                                    <div class="contats-list fl-wrap">
                                                        <ul class="no-list-style ">
                                                            {% if speakers.contact %}
                                                            <li><span><i class="fal fa-phone"></i> Phone</span> <a href="#">{{speakers.contact}}</a></li>
                                                            {% endif %}
                                                            {% if speakers.speakermail %}
                                                            <li><span><i class="fal fa-envelope"></i> Mail</span> <a href="#">{{speakers.speakermail}}</a></li>
                                                            {% endif %}
                                                            <!-- {% if speakers.about %}
                                                            <li><span><i class="fal fa-browser"></i> About</span> <a href="#">{{speakers.about}}</a></li>
                                                            {% endif %} -->

                                                        </ul>
                                                    </div>
                                                    <!-- <div class="profile-widget-footer fl-wrap">
                                                        <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                          
                                          
                                        </div>
                                      </div>
                                      {% endif %}
                                      {% endfor %}
                                    </div>
                                    {% if speaker|length > 1 %}
                                    <div class="swiper-button-prev ssw-btn ssw-btn1 "><i class="fas fa-caret-left"></i></div>
                                    <div class="swiper-button-next ssw-btn ssw-btn1 "><i class="fas fa-caret-right"></i></div>
                                    {% endif %}
                                  </div>
                                </div>
                              </article>
                            </div>
                        </div>
                        {% endif %}
                        
                        
                        {% if contacts.exists or event.facebook or event.instagram or event.twitter or event.youtube %}
                        <div class="list-searh-input-wrap-title fl-wrap" >
                            <i class="far fa-address-book"></i>
                            <span>Contacts</span>
                        </div>
                        <div class="box-widget fl-wrap" style="margin-top: 10px;">
                            <div class="box-widget-content fl-wrap">
                                {% if contacts.exists %}
                                    {% for contact in contacts %}
                                    <div class="contats-list clm fl-wrap">
                                        <ul class="no-list-style">
                                            {% if contact.name.strip %}
                                            <li><span><i class="fal fa-user"></i> Name </span> <a href="#">{{ contact.name }}</a></li>
                                                    {% if contact.phone.strip %}
                                                    {% endif %}
                                                        <li><span><i class="fal fa-phone"></i> Phone </span> <a href="#" target="_blank">{{ contact.phone }}</a></li>
                                                    {% endif %} 
                                                    {% if contact.email.strip %}
                                                        <li><span><i class="fal fa-envelope"></i> Email </span> <a href="" target="_blank">{{ contact.email }}</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            {% if not forloop.last %}
                                                <hr>
                                            {% endif %}
                                    {% endfor %}
                                {% endif %}

            <div class="profile-widget-footer fl-wrap">
                <div class="card-info-content_social">
                    <ul>
                        {% if event.facebook.strip %}
                            <li><a href="https://www.facebook.com/{{ event.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        {% endif %}
                        {% if event.twitter.strip %}
                            <li><a href="https://twitter.com/{{ event.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        {% endif %}
                        {% if event.instagram.strip %}
                            <li><a href="https://instagram.com/{{ event.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if event.youtube.strip %}
                            <li><a href="https://www.youtube.com/{{ event.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}

                        {%  if event.website %}
                        <div class="box-widget fl-wrap">
                            <div class="box-widget-title fl-wrap">Website</div>
                            <div class="box-widget-content fl-wrap">
                                <ul class="cat-item cat-item_dec no-list-style">
                                    {% if event.website and event.website.strip %}
                                    <li><span><i class="fal fa-browser"></i> Website :</span> <a href="https://{{event.website}}" target="_blank">{{event.website}}</a></li>
                                    {% endif %}
                                    
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="box-widget fl-wrap">
                       
                            <!--box-widget end -->                                   
                       
                         
                            {% if brouchers.document %}
                            <div class="list-searh-input-wrap-title fl-wrap" style="margin-top: 20px;"><i class="fal fa-file-pdf"></i><span>Brochure</span></div>
                            <div class="box-widget fl-wrap">                            
                            <div class="box-widget-content fl-wrap">
                                
                                <div class="bwc_download-list">
                                    <a href="{% static 'images/Uploads/' %}{{ brouchers.document }}" download><span></span>Download Brochure</a>                                    
                                </div>
                              
                            </div>
                            </div>
                            {% endif %}                                            
                        </div>     
 </div>
 <!-- content end -->	
 <div class="fl-wrap limit-box"></div>
 <div class="container">
 <div class="listing-carousel-wrapper carousel-wrap fl-wrap" id="sec4" >
     <div class="list-single-main-item-title">
           <h3>RECENT EVENTS</h3>
       </div>
       
       <div class="listing-carousel carousel ">
           <!-- slick-slide-item -->
           
           {% for event in recent_events %}
           <div class="slick-slide-item">
               <!-- listing-item -->
               
               <div class="listing-item">
                   <article class="geodir-category-listing fl-wrap">
                       
                       <div class="geodir-category-img fl-wrap">
                           
                           <a href="{% url 'single-event' event.id %}" class="geodir-category-img_item">
                               {% if event.featured_img %}
                               <img src="{% static 'images/Uploads/' %}{{ event.featured_img }}" alt="">  
                            {% else %}
                            <img src="{% static 'images/deafaultimage/default-image.jpg' %}"  style="max-width:100%;max-height:100%;"/>
                            <div style="position: absolute;top: 40%;
                            left: 50%;transform: translate(-50%, -50%);font-size:200% ;max-width:100%;max-height:100%;color: #ffffff;"><h1>{{event.title}}</h1></div>

                            {% endif %}
                            </a>


                           <ul class="list-single-opt_header_cat">
                            {% now "Y-m-d" as todays_date %}
                             <div >
                                {% if todays_date < event.event_start_date|date:"Y-m-d" %}
                                <li><a href="#" class="cat-opt " style="background-color: red;" >UPCOMING</a></li>
                               {% elif  todays_date == event.event_start_date|date:"Y-m-d" %}
                               <li><a href="#" class="cat-opt " style="background-color: #33c1b7;">ONGOING</a></li>
                               {% else %}
                               <li><a href="#" class="cat-opt color-bg" style="background-color: rgb(244, 127, 21) !important;">PREVIOUS</a></li>
                               {% endif %}
                        </ul>
                           <a href="#" class="geodir_save-btn tolt" data-microtip-position="left" data-tooltip="{{event.num_likes}}"><span><i class="fal fa-heart"></i></span></a>
                           <a href="#" class="compare-btn tolt" data-microtip-position="left" data-tooltip="{{event.view_count}}"><span><i class="fal fa-eye"></i></span></a>
                       </div>
                       <div class="geodir-category-content  fl-wrap">
                           <h3><a href="listing-single.html">{{event.title}}</a></h3>
                           
                           {% if event.description %}
                           <h6 style="font-size: 13px; line-height: 22px; padding-bottom: 10px; font-weight: 400; color: #878C9F; text-align: left;">{{ event.description |truncatewords:10 | safe }}</h6>
                         {% else %}
                           <h6 style="font-size: 13px; line-height: 22px; padding-bottom: 10px; font-weight: 400; color: #878C9F; text-align: left;">{{ event.about | striptags | replace_nbsp | truncatewords:13 }}</h6>
                         {% endif %}
                         
                           <div class="geodir-category-content-details">
                               <ul>
                                   <li><i class="fal fa-calendar"></i><span>{{event.event_start_date}}</span></li>
                                  
                               </ul>
                           </div>
                           
                           {% if event.address and event.address.strip or event.is_online_event == "Yes" %}
                           <div class="geodir-category-footer fl-wrap" style="padding: 0px 10px 10px 0px;">
                               <a href="" class="gcf-company">
                                   <span>
                                       {% if event.is_online_event == "Yes" %}
                                       <i class="fas fa-map-marker-alt" style="color: rgb(239, 127, 26);"> </i> Online
                                       {% elif event.is_online_event != "No" and event.address.strip %}
                                       <i class="fas fa-map-marker-alt" style="color: rgb(239, 127, 26);"> </i>
                                       {{ event.address | truncatewords:5 }}
                                       {% else %}
                                       {% if event.campus %}
                                       <i class="fa fa-university" style="color: rgb(239, 127, 26);"> </i>
                                       {{event.campus | truncatewords:5 }}
                                       {% endif %}
                                       {% endif %}
                                   </span>
                               </a>
                           </div>
                           {% endif %}
                       </div>
                   </article>
                </div>
            </div>
            {% endfor %}
       </div>
       <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
       <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i></div>
   </div>
</div>
    </div>    
</div>
</div>
<script>
//  $(document).ready(function () {
    // function carousal_popup(){
    //     alert();
    // //     var link = $('.box-item img').siblings("a");
    // // link.addClass("popup-image");
    // // window.open(link.attr("href"), "popupWindow", "width=600,height=600");

    // }
    
//     $(".box-item img").on("click", function () {
//       console.log("Hi, this is JavaScript code!");
//     var link = $(this).siblings("a");
//     link.addClass("popup-image");
//     window.open(link.attr("href"), "popupWindow", "width=600,height=600");
//   });
// });


</script>

{% include "base/footer.html" %} 
{% endblock content %}  
    
   